.illustrationsIcon {
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: -19px;
  transform: scale(1.372);
}
.wrapperIllustrations {
  position: absolute;
  width: 61.11%;
  top: 562px;
  right: 19.44%;
  left: 19.44%;
  max-width: 100%;
  height: 541px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg,
.circle {
  position: relative;
}
.bg {
  width: 1440px;
  height: 908px;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.circle {
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 800;
  color: inherit;
  display: inline-block;
  min-width: 77px;
  z-index: 1;
}
.circleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px 0 0;
}
.aboutUs,
.features,
.pricing {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 68px;
  z-index: 1;
}
.aboutUs,
.pricing {
  min-width: 53px;
}
.aboutUs {
  min-width: 70px;
  white-space: nowrap;
}
.dropdownItems,
.dropdownMenu {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.dropdownItems {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--inter-regular-16-size);
  color: var(--gray-900);
  font-family: var(--pj-bold-52);
}
.dropdownMenu {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0 0;
}
.customerLogin {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  min-width: 122px;
  white-space: nowrap;
  z-index: 1;
}
.loginButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10.5px 0 0;
}
.signUp {
  z-index: 1;
}
.authButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-25xl);
}
.frameParent,
.header,
.navigation {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.navigation {
  width: 803px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 213px;
  text-align: right;
}
.frameParent,
.header {
  top: 0;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--inter-regular-16-size);
  color: var(--gray-900);
  font-family: var(--pj-bold-52);
}
.header {
  position: absolute;
  left: 0;
  background-color: var(--color-gray-100);
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 19px 72px 434px;
  box-sizing: border-box;
  gap: 88px;
}
.desktop {
  width: 100%;
  height: 1184px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .dropdownMenu {
    display: none;
  }
  .navigation {
    width: 493px;
    gap: 106px;
  }
  .header {
    gap: var(--gap-25xl);
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .dropdownItems {
    display: none;
  }
  .authButtons {
    gap: var(--gap-3xl);
  }
  .navigation {
    gap: 53px;
  }
  .header {
    gap: var(--gap-3xl);
  }
}
