@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --inter-regular-16: Inter;
  --pj-bold-52: "Plus Jakarta Sans";

  /* font sizes */
  --inter-regular-16-size: 16px;
  --pj-bold-52-size: 52px;
  --font-size-12xl: 31px;
  --font-size-23xl: 42px;
  --inter-regular-18-size: 18px;

  /* Colors */
  --color-gray-100: #fafafa;
  --gray-900: #18181b;
  --gray-500: #71717a;
  --gray-600: #52525b;

  /* Gaps */
  --gap-3xl: 22px;
  --gap-25xl: 44px;
  --gap-5xl: 24px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-17xl: 36px;
  --padding-12xs: 1px;
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-28xl: 47px;
  --padding-4xl: 23px;
}
